idToken<template>

  <div>

    <v-data-table
      :headers="headers"
      :items="items"
      hide-actions
      class="elevation-1"
    >
      <template slot="no-data">
        <v-progress-circular indeterminate color="primary"></v-progress-circular>
      </template>
      <template slot="items" slot-scope="props">
        <tr>
          <td>{{ props.item.email_address }}</td>
          <td class="text-xs-left">{{ props.item.status }}</td>
        </tr>

      </template>
    </v-data-table>
  </div>
</template>

<script lang="ts">
  import Vue from "vue";
  import Component from "vue-class-component";
  import {getFirebaseProjectUrl} from "../utils/utlils"
  import axios from 'axios';
  import * as T from "../types/common";

  const firebase = require('firebase')

  @Component({
    components: {}
  })
  export default class cListMembers extends Vue {
    items: any[] = [];
    name: "ListMembers"
    loading: boolean = true;
    headers = [
      {
        text: 'Email',
        value: 'email_address'
      },
      {text: 'Status', value: 'status'},
    ]


    onClick(): void {
      console.log("a non-vuex method has been called");
    }

    mounted(): void {
      const that = this;
      const listId = that.$route.params.listId;
      console.log("load list members", listId);
      const idToken = window.localStorage.getItem("idToken")
      axios({
        url: getFirebaseProjectUrl() + "/getListMembers?listId=" + listId,
        headers: {
          Authorization: "Bearer " + idToken
        }
      }).then((data) => {
        console.log("get lists response", data.data.members);
        that.loading = false;
        that.items = data.data.members;
      })


    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
