<template>

  <v-content>
    <v-container fluid fill-height>
      <v-layout align-center justify-center>
        <v-flex xs12 sm8 md6>

          <v-snackbar
            :timeout="5000"
            :bottom="true"
            :right="true"
            :multi-line="false"
            v-model="snackbar"
          >
            {{message.text}}
            <v-btn flat color="green" @click.native="snackbar = false">Close</v-btn>
          </v-snackbar>

          <v-card class="elevation-0">

          </v-card>
          <v-card class="elevation-12">

            <v-card-text>
              <v-layout align-center justify-center v-if="showLoadingProgress">
                <v-progress-circular :indeterminate="true"></v-progress-circular>

              </v-layout>

              <h1 v-if="!showLoadingProgress">Select a list</h1>
              <v-list v-if="!showLoadingProgress" two-line>
                <template v-for="(item, index) in items">
                  <v-list-tile avatar :key="item.name">
                    <!--<v-list-tile avatar :key="item.name" @click="$router.push('/list/' + item.id)">-->
                    <v-list-tile-content>
                      <v-list-tile-title>
                        <h4>{{item.name}}</h4>
                      </v-list-tile-title>
                      <v-list-tile-sub-title>{{item.stats.member_count}} member, last updated
                        {{item.stats.last_sub_date.split('T')[0].split('-').reverse().join('/')}}
                      </v-list-tile-sub-title>
                    </v-list-tile-content>
                    <v-list-tile-action>

                      <v-btn v-if="item.gdpr_status == 'unmanaged'" @click="exportList(item.id)"
                             :loading="exportingId == item.id">Manage with GDPR
                      </v-btn>
                      <v-btn v-if="item.gdpr_status == 'pending'" :disabled="true">Sync in progress</v-btn>
                      <v-btn v-if="item.gdpr_status == 'completed'" :disabled="true">Managed with GDPR</v-btn>
                    </v-list-tile-action>
                  </v-list-tile>
                </template>
              </v-list>
            </v-card-text>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </v-content>
</template>

<script lang="ts">
  import Vue from "vue";
  import Component from "vue-class-component";
  import {getFirebaseProjectUrl} from "../utils/utlils"
  import axios from 'axios';
  import {Getter} from 'vuex-class'

  //  import { Component, Emit, Inject, Model, Prop, Provide, Vue, Watch } from 'vue-property-decorator'

  class Message {
    show: boolean;
    type: string;
    text: string;

    constructor(props: any) {
      this.show = props.show;
      this.type = props.type;
      this.text = props.text;
    }

  }

  @Component({
    components: {},
  })
  export default class cMailingLists extends Vue {
    items: any[] = [];
    exportingId: string = null;
    loading: boolean = true;
    showLoadingProgress: boolean = true;
    snackbar: boolean = false;
    @Getter idToken: string;
    message: Message = new Message({
      show: false,
      type: "success",
      text: "",
    } as any);

    headers = [
      {
        text: 'Name',
        value: 'name'
      },
      {text: 'Member count', value: 'stats.member_count'},
    ];

    exportList(listId: any) {
      console.log("list id", listId);

      this.exportingId = listId;
      this.$forceUpdate();
//      const idToken = window.localStorage.getItem("idToken")
      const that = this;
//      that.loading = true;
      axios({
        url: getFirebaseProjectUrl() + "/exportListMembers?listId=" + listId,
        headers: {
          Authorization: "Bearer " + window.localStorage.getItem("idToken")
        }
      }).then((res) => {

        const response = res.data;
        that.exportingId = null;
        that.snackbar = true;
        that.message = new Message({
          show: true,
          type: response.status === "ok" ? "success" : "error",
          text: response.message,
        } as any);
        that.reload();
      });


    }


    onClick(): void {
      console.log("a non-vuex method has been called");
    }

    reload(): void {
      const that = this;
//      const idToken = window.localStorage.getItem("idToken")
      const token = window.localStorage.getItem("idToken");
      console.log("get mailing lists with token", token);
      if (!token) {
        console.log("no token in mailing list page");
        window.location.href = getFirebaseProjectUrl() + "/authorize";
        return
      }

      axios({
        url: getFirebaseProjectUrl() + "/getLists",
        headers: {
          Authorization: "Bearer " + token
        }
      }).then((data) => {
        console.log("get lists response", data.data.lists);
        that.items = data.data.lists.map(function (e) {
          e.loading = false;
          return e;
        });
        console.log("fiaf", that.items);
        that.loading = false;
        that.showLoadingProgress = false;
      }).catch((err) => {
        console.log("failed to get items", err);
        console.log("probably token expired, clear token and send to login");
        window.localStorage.clear();
        that.$router.push({name: "Home"});
        return;
      })

    }

    mounted(): void {
      const that = this;
      setInterval(function () {
        that.reload();
      }, 3000);
    }


  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>


</style>
