<template>

  <v-app light>
    <v-toolbar class="white">
      <v-toolbar-title v-text="title">GDPR Watch</v-toolbar-title>
    </v-toolbar>
    <v-snackbar
      :timeout="5000"
      :bottom="true"
      :right="true"
      :multi-line="false"
      v-model="snackbar"
    >
      {{message}}
      <v-btn flat color="green" @click.native="snackbar = false">Close</v-btn>
    </v-snackbar>
    <router-view v-if="!isLoggingIn"/>

  </v-app>

</template>

<script lang="ts">
  import Vue from "vue";
  import Component from "vue-class-component";
  import {getFirebaseProjectUrl} from "./utils/utlils";
  import {Action} from 'vuex-class'

  const firebase = require("firebase");


  @Component({})
  export default class Layout extends Vue {
    snackbar: boolean = false;
    message: string = "";
    name: string = "Layout";
    title: string = "GDPR Watch";
    @Action('setIdToken') setIdToken: any;
    isLoggingIn: boolean = true;

    onClick(): void {
      console.log("a non-vuex method has been called");
    }


    /**
     * This callback is called by the JSONP callback of the 'token' Firebase Function with the Firebase auth token.
     */

    tokenReceived(data: any) {
      const that = this;
      console.log("token received in layout", data);
      if (data.token) {
        firebase
          .auth()
          .signInWithCustomToken(data.token)
          .then(function (id: any) {
            console.log("signed in ", id);
            firebase
              .auth().currentUser.getIdToken().then(function (idtoken: any) {
              that.setIdToken(idtoken);
              window.localStorage.setItem("idToken", idtoken);
              console.log("got id token", idtoken);
              that.isLoggingIn = false;
              that.$router.push({name: "MailingLists"});
              that.$forceUpdate();
            });
          }).catch(function (err: any) {
          console.log("failed to validate custom token", err);
          that.$router.push({name: "Home"})
          // window.location.href = getFirebaseProjectUrl() + "/authorize";
        });
      } else {
        console.error(data);
        that.isLoggingIn = false;
        that.$forceUpdate();
        document.body.innerText = "Error in the token Function: " + data.error;
      }
    }

    logout(): void {
      window.localStorage.removeItem("token");
      window.localStorage.clear();
      window.location.href = getFirebaseProjectUrl() + "/logout";
    }

    mounted(): void {
      const token = window.localStorage.getItem("token");
      const tokenFromUrl = this.getURLParameter("token");
      console.log("this", this, this.$router);
      console.log("mounted layout", token);
      console.log("token from local storage", token);
      console.log("token from url", tokenFromUrl);

      if (tokenFromUrl) {
        this.isLoggingIn = true;
        this.$forceUpdate();
      } else {
        this.isLoggingIn = false;
        this.$forceUpdate();
      }

      const error = this.getURLParameter("error");

      if (error) {
        this.message = error;
        this.snackbar = true;
      }

      if (tokenFromUrl) {
        console.log("token from url param", tokenFromUrl);
        this.tokenReceived({
          token: tokenFromUrl
        });
      } else if (token) {
        this.tokenReceived({
          token: token
        });
      } else {
        this.$router.push({name: "Home"});
      }

      firebase.auth().onAuthStateChanged(this.onAuthStateChanged.bind(this));

    }


    /**
     * Returns the value of the given URL query parameter.
     */
    getURLParameter(name: string) {
      return (
        decodeURIComponent(
          (new RegExp("[?|&]" + name + "=" + "([^&;]+?)(&|#|;|$)").exec(
            location.search
          ) || [null, ""])[1].replace(/\+/g, "%20")
        ) || null
      );
    }


    signOut() {
      firebase.auth().signOut();
    }

    deleteAccount() {
      firebase.auth().currentUser.delete().then(function () {
        window.alert('Account deleted');
      }).catch(function (error: any) {
        if (error.code === 'auth/requires-recent-login') {
          window.alert('You need to have recently signed-in to delete your account. Please sign-in and try again.');
          firebase.auth().signOut();
        }
      });

    }

    onAuthStateChanged(user: any): void {
      console.log("auth state changed in layout", user);
      if (!user) {
      } else {
        window.localStorage.setItem("idToken", user.qa);
        this.$router.push({name: "MailingLists"})
      }
    }

  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
